.kirmizi-baslik { color: red; font-family: 'Times New Roman', Times, serif;

}

.purple-baslik { color: purple; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bok-rengi-baslik { color: chocolate; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.purple-ürünlerimiz {color: purple; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.ver-bir-bok-daha {color: chocolate; font-family: Arial, Helvetica, sans-serif;} 